[submodule "be_java_hisp_w26_g11"]
	path = be_java_hisp_w26_g11
	url = https://github.com/elalexischavez/sprint1.git
[submodule "3. Sprint I/be_java_hisp_w26_g11"]
	path = 3. Sprint I/be_java_hisp_w26_g11
	url = https://github.com/elalexischavez/sprint1.git
