### IntelliJ IDEA ###
.idea
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.pre-commit-config.yaml

### Projects
1. Modulo Java/16_vuelos_aeropuertos
2. Modulo Spring/11_codereview